<% include ./partials/header %>
    <link rel="stylesheet" href="/stylesheets/works.css">
<% include ./partials/nav %>

<div class="container main">
    <ul class="list-group">
      <% portfolios.forEach(function(portfolio){ %>
        <li class="list-group-item single-work">
            <div class="row">
                <div class="col-sm-3">
                    <% if(portfolio.image){ %>
                        <img src="/uploads/<%= portfolio.image %>" alt="<%= portfolio.name %> profile picture" class="img-responsive img-rounded" />
                    <% } else { %>
                        <img src="/uploads/default.png %>" alt="default profile picture" class="img-responsive img-rounded" />
                    <% } %>
                </div>
                <div class="col-sm-3">
                    <h3><%= portfolio.name %></h3>
                    <p>has <%= portfolio.works.length %> work(s)</p>
                    <a class="btn btn-info btn-xs" href="#">View more</a>
                </div>
                <div class="col-sm-3">
                    <% if(portfolio.works[0]){ %>
                        <div class="well work-panel text-center">
                            <a href="<%= portfolio.works[0].link %>" class="work-link">link</a>
                            <hr/>
                            <p><%= portfolio.works[0].details %></p>
                        </div>
                    <% } %>
                </div>    
                <div class="col-sm-3">
                    <% if(portfolio.works[1]){ %>
                        <div class="well work-panel text-center">
                            <a href="<%= portfolio.works[1].link %>" class="work-link">link</a>
                            <hr/>
                            <p><%= portfolio.works[1].details %></p>
                        </div>
                    <% } %>
                </div>  
            </div>
        </li>
      <% }) %> 
    </ul>
</div>

<!-- PAGINATION -->
<% if (pageCount > 1) { %>  
  <ul class="pagination">  
  <% if (currentPage > 1) { %>
      <li><a href="/?page=1">&laquo;</a></li>
  <% } %>
  <% var i = 1;
  if (currentPage > 5) {
  i = +currentPage - 4;
  } %>
  <% if (i !== 1) { %>
      <li class="disabled"><a href="#">...</a></li>
  <% } %>
  <% for (i; i<=pageCount; i++) { %>
    <% if (currentPage == i) { %>
        <li class="active"><span><%= i %> <span class="sr-only">(current)</span></span></li>
    <% } else { %>
        <li><a href="/?page=<%= i %>"><%= i %></a></li>
    <% } %>
    <% if (i == (+currentPage + 4)) { %>
        <li class="disabled"><a href="#">...</a></li>
    <% break; } %>
  <% } %>
  <% if (currentPage != pageCount) { %>
      <li><a href="/?page=<%= pageCount %>">&raquo;</a></li>
  <% } %>
  </ul>  
<% } %>  

<% include ./partials/footer %>
