<% include ../partials/header %>
  <link rel="stylesheet" href="/stylesheets/studentProfile.css">
<% include ../partials/nav %>

   
    <% if(!portfolio) { %>
     
      <div class="container">
        <div class="row text-center profile-head">
          <h1>Welcome to your profile, <strong><%= student.username %></strong></h1>
          <p id="no-profile-par">You seem like you don't have a Portfolio yet</p>
          <a id="create-button" class="btn btn-success btn-lg" href="/students/<%= student.username %>/portfolio/new">Create one now</a>
        </div>
      </div>

    <% } else { %>

          <div class="jumbotron">
          <div class="container">

            <div class="row">
              <div class="profile-pic col-md-2">
              <% if(portfolio.image) { %>
                <img src="/uploads/<%= portfolio.image %>" alt="<%= student.username %> profile picture" class="img-responsive img-thumbnail" />
              <% } else { %>
                <img src="/uploads/default.png" alt="<%= student.username %> profile picture" class="img-responsive img-thumbnail" />
              <% } %>
              </div>
              <div class="col-md-10">
                <h2><%= portfolio.name %></h2>
                <h5>@<%= student.username %></h5>
                <% if(portfolio.works.length == 1) { %>
                  <p class="number-works"><%= portfolio.works.length %> piece of your work is already here</p>
                <% } else { %>
                  <p class="number-works"><%= portfolio.works.length %> pieces of your work are already here</p>
                <% } %>
                <a href="/students/<%= student.username %>/portfolio/addWork" class="btn btn-success">Add more work</a>
              </div>
            </div>

          </div>
          </div>

          <div class="container">

            <div class="row">
              <h3>Your Work</h3>
            </div>

            <div class="row works">
              <% portfolio.works.forEach(function(work){ %>
                <div class="col-md-3 well single-work">
                  <small class="date"><%= work.created_at.toDateString() %></small>
                  <a href="<%= work.link %>" class="text-center">
                    <%= work.link %>
                  </a>
                  <hr/>
                  <p class="text-center desc">
                    <%= work.details %>
                  </p>
                  <div class="text-center">
                    <a class="btn btn-primary btn-xs" href="/students/<%= student.username %>/portfolio/<%= work._id %>/edit">Edit</a>
                    <a class="btn btn-danger btn-xs" href="/students/<%= student.username %>/portfolio/<%= work._id %>">Delete</a>
                  </div>
                </div>
                <% }) %>
            </div>

          </div>
     
    <% } %>

<% include ../partials/footer %>
