<% include ../partials/header %>
<% include ../partials/nav %>

   
    <% if(!portfolio) { %>
     
      <div class="container">
        <div class="row">
          <h1 class="text-center">Welcome to your profile, <strong><%= student.username %></strong></h1>
          <p class="text-center">
            You seem like you don't have a Portfolio yet
          </p>
          <a class="btn btn-success" href="/students/<%= student.username %>/portfolio/new">create one now</a>
        </div>
      </div>

    <% } else { %>

          <div class="jumbotron">
          <div class="container">

            <div class="row profile-head">
              <div class="profile-pic col-lg-2">
                <img src="/uploads/<%= portfolio.image %>" alt="<%= student.username %> profile picture" class="img-responsive img-thumbnail">
              </div>
              <div class="col-lg-10">
                <h2><%= portfolio.name %></h2>
                <h5>@<%= student.username %></h5>
                <% if(portfolio.works.length == 1) { %>
                  <p class="number-works"><%= portfolio.works.length %> piece of your work is already here</p>
                <% } else { %>
                  <p class="number-works"><%= portfolio.works.length %> pieces of your work are already here</p>
                <% } %>
              </div>
            </div>

          </div>
          </div>

          <div class="container">

            <div class="row">
              <h3>Your Work</h3>
            </div>

            <div class="row works">
              <% portfolio.works.forEach(function(work){ %>
                <div class="col-md-3 well single-work">
                  <a href="<%= work.link %>" class="text-center">
                    <%= work.link %>
                  </a>
                  <p class="text-center desc">
                    <%= work.details %>
                  </p>
                </div>
                <% }) %>
            </div>

          </div>
     
    <% } %>


<style>

a {
  display: block;
  text-align: center;
}

.number-works {
  font-size: 12px !important;
}

.works {
  margin-top: 2.5em;
}

.single-work {
  margin-right: 5px;
  margin-left: 5px;
  word-wrap: break-word;
}

.desc {
  margin-top: 10px;
}

</style>

<% include ../partials/footer %>
